{% extends page_layout %}

{% from "macros.twig" import class_link %}

{% block title %}Interfaces | {{ parent() }}{% endblock %}

{% block body_class 'overview' %}

{% block content_header %}
    <h1>Interfaces</h1>
{% endblock %}

{% block content %}
    <table>
        {% for interface in interfaces %}
            <tr>
                <td>{{ class_link(interface, {'target': 'main'}, true) }}</td>
                <td class="last">
                    {{ interface.shortdesc|desc(interface) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
