{% extends page_layout %}

{% from "macros.twig" import namespace_link %}

{% block title %}Namespaces | {{ parent() }}{% endblock %}

{% block body_class 'overview' %}

{% block content_header %}
    <h1>Namespaces</h1>
{% endblock %}

{% block content %}
    <table>
        {% for namespace in namespaces %}
            <tr>
                <td>{{ namespace_link(namespace) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
