{% extends "layout/base.twig" %}

{% block html %}
    <frameset cols="20%,80%" frameborder="1" border="1" bordercolor="#bbb" framespacing="1">
        <frame src="{% block frame_src %}{% endblock %}" name="index">
        <frame src="{{ has_namespaces ? 'namespaces' : 'classes' }}.html" name="main">
        <noframes>
            <body>
                Your browser does not support frames. Go to the <a href="namespaces.html">non-frame version</a>.
            </body>
        </noframes>
    </frameset>
{% endblock %}
